/* 
White: #ffffff - white will work 
Navy: #0d2240
Light Blue: #00a8e1
Gold: #f7a800
*/
* {
    box-sizing: border-box;
    padding: unset;
    margin: unset;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

h2 {
    font-weight: bold;
    color: #00a8e1;
    font-size: 7vw;
    float: left;
    padding-top: 5vh;
    padding-left: 3vw;
}

h3 {
    font-weight: bold;
    color: #f7a800;
    font-size: 3vw;
    float: left;
}

h4 {
    color: #f7a800;
    font-size: 1.5vw;
    float: left;
}
/* Style tab links and header*/
header h1 {
    background-color: #0d2240;
    color: white;
    float: left;
    font-size: 4vw;
    font-weight: bold;
    padding: unset;
    padding-left: 1vw;
    margin: unset;
    height: 17vh;
    width: 30vw;
    max-width: 30%;
}

#miniHeader {
    font-size: 1.5vw;
}

.tablink {
    background-color: #0d2240;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 2vw;
    height: 17vh;
    width: 17.5%;
}

    .tablink:hover {
        background-color: #00a8e1;
    }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    background-color: white;
    color: black;
    display: none;
    padding-left: 1vw;
    height: 90vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0d2240;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 10vh;
}

.footer,
.push {
    height: 50px;
}

#Events {
}


.eventLeftPanel {
    Position: absolute;
    top: 20vh;
    left: 3vh;
    float: left;
    display: block;
}

#Events h2 {
    padding: unset;
    margin: unset;
}

#Events h3 {
    color: black;
    font-size: 5vh;
}


#closedFilterBar {
    border-left: 3vw solid #00a8e1;
    background-color: #f7a800;
    height: 65vh;
    width: 30vw;
    max-height: 65vh;
    max-width: 45vw;
    margin-top: 1vh;
    margin-left: -3vw;
    float: left;
    display: block;
}

#openNav {
    margin-top: .5vh;
    margin-left: 2vw;
    height: 3.75vh;
}

#Bars {
}

#About img {
    position: absolute;
    top: 20vh;
    right: 3vw;
    width: 30vw;
    height: auto;
    max-height: 70vh;
    overflow: hidden;
}

#About p {
    font-weight: bold;
    color: #f7a800;
    padding-left: 3vw;
    max-height: 50vh;
    width: 65vw;
    overflow: auto;
    font-size: 2.5vw;
}

#Contact p {
    text-decoration: unset;
    max-width: 15vw;
    overflow: auto;
}

#contactIcon {
    width: 5vw;
    height: auto;
}

#email {
    position: absolute;
    top: 35vh;
    left: 38vw;
    font-weight: bold;
    color: #f7a800;
}

#facebook {
    position: absolute;
    top: 55vh;
    left: 38vw;
    font-weight: bold;
    color: #f7a800;
}

#linkedinBadges {
    max-width: 50vw;
    position: absolute;
    top: 25vh;
    right: 3vw;
    max-height: 62vh;
    overflow: auto;
}

.LI-profile-badge {
    overflow: hidden;
    margin: unset;
    float: right;
    padding-bottom: 2.5vh;
    margin-left: 2vw;
}

.emailSignUp {
    max-width: 25vw;
    float: left;
    padding-left: 0vh;
    position: absolute;
    padding-top: 20vh;
    left: 3vw;
}

#Contact h2 {
    margin: unset;
    padding: unset;
}

.emailButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #00a8e1;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    padding: 1vw;
    width: 25vw;
    transition: all 0.5s;
    cursor: pointer;
}

    .emailButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .emailButton span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -1.5vw;
            transition: 0.5s;
        }

    .emailButton:hover span {
        padding-right: 1.5vw;
    }

        .emailButton:hover span:after {
            opacity: 1;
            right: 0;
        }

input[type="text"] {
    margin-top: 3vh;
    width: 25vw;
    font-size: 1.5vw;
}
