/* 
White: #ffffff - white will work 
Navy: #0d2240
Light Blue: #00a8e1
Gold: #f7a800
*/
* {
    box-sizing: border-box;
    padding: unset;
    margin: unset;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

h2 {
    font-size: 7vw;
    float: left;
    padding-top: 5vh;
    padding-left: 3vw;
}
/* Style tab links and header*/
header h1 {
    background-color: #0d2240;
    color: white;
    float: left;
    font-size: 4vw;
    font-weight: bold;
    padding: unset;
    padding-left: 1vw;
    margin: unset;
    height: 17vh;
    width: 30vw;
    max-width: 30%;
}

#miniHeader {
    font-size: 1.5vw;
}

.tablink {
    background-color: #0d2240;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 2vw;
    height: 17vh;
    width: 17.5%;
}

    .tablink:hover {
        background-color: #00a8e1;
    }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    background-color: white;
    color: black;
    display: none;
    padding-left: 1vw;
    height: 90vh;
}

footer {
    background-color: #0d2240;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 10vh;
}

#Events {
}

.filterBar {
    position: absolute;
    top: 17vh;
    background-color: #f7a800;
    font-weight: bold;
    color: white;
    padding-top: 1vh;
    padding-left: 1vw;
    height: 73vh;
}

.filterButtonOpened {
    margin-right: 1vw;
    float: right;
    width: 2vw;
    height: 3vh;
    font-weight: bold;
    cursor: pointer;
}

.filterButtonClosed {
    margin-top: 1vh;
    margin-right: 1vw;
    float: left;
    width: 3vw;
    height: 7vh;
    font-weight: bold;
    cursor: pointer;
}


#Bars {
}

#About {
}


#Contact p {
    text-decoration: none;
    float: left;
}

#contactIcon {
    width: 5vw;
    height: auto;
}

#email {
    padding-left: 0vh;
    position: absolute;
    top: 45vh;
    left: 8vw;
}

#facebook {
    padding-left: 0vh;
    position: absolute;
    top: 65vh;
    left: 8vw;
}


.LI-profile-badge {
    overflow: hidden;
    max-height: 73vh;
    padding-top: 7.5vh;
    padding-right: 7.5vw;
    margin: unset;
    float: right;
}
